<html>
    <head>
	    <meta charset="UTF-8">
      <title>Invitation</title>
  	  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Grand+Hotel|" rel="stylesheet">

	</head>

  <body> 
    <div id="wrapper">
 
  	<header>
	    <h1><span class="cap">{{groom}} &amp; {{bride}}<br></span>
      <span id="wedding">Wedding</span></h1>
  	</header>
	
    <section id="mainContent">
	
  	  <h2><span class="cap">{{weddate}}</span></h2>
    
      <div id="address">

      <dl>
    
        <dt>{{venue}}</dt>

      </dl>
      </div>

<div id="container">      
  <p>Join {{groom}} &amp; {{bride}} as they embark<br>
      on their greatest adventure in holy matrimony.<br>
      Enchanted reception to follow ceremony.</p>
      </div>
	
    </section>
    </div> 
    
  </body><br><br><div class="download"><button onclick="window.print()" class="btn btn-danger btn-lg">Download Card</button></div>
</html>