
<div class="container">
  <h1>Choose a Template</h1><br>
  <div class="row">
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-XvjlJZXoF0o/X_nxstzdbpI/AAAAAAAALxk/eyFcP9he-A0vjPJTJuenR9cEMbqbQ9RAACLcBGAsYHQ/s320/1.PNG"  style="width:100%">

     
      <p><button routerLink="/template1">Select</button></p>
    </div>  </div>
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-YIBOPB0VA4s/X_nxtGhCq8I/AAAAAAAALxs/FWUCxBm_aWsK-xUkgAJ-gutxXKYgYSg_gCLcBGAsYHQ/s320/2.PNG"  style="width:100%">
   
     
      <p><button routerLink="/template2">Select</button></p>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-HevWTfdncD4/X_nxsMeKIUI/AAAAAAAALxg/7bBYqWZuZoIQrl8NGXIZxDQib7dojIBUACLcBGAsYHQ/s320/3.PNG"  style="width:100%">
      
     
      <p><button routerLink="/template3">Select</button></p>
    </div>
  </div>


    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-r7LARIIYWY8/X_nxs0CoFPI/AAAAAAAALxo/Bzfq4jDE8nsMSnqg35dFXqjNc1HaFdKGwCLcBGAsYHQ/s320/4.PNG"  style="width:100%">

     
      <p><button routerLink="/template4">Select</button></p>
    </div>  
  </div> 
    
  </div>

  
<div class="container">
<br>
  <div class="row">
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-TOELqbMJbJc/X_qWCdValzI/AAAAAAAALyI/C7hpNVn1lJIxeAldTrDNCU6_QaKUCCRWQCLcBGAsYHQ/s320/5.PNG"  style="width:100%">

     
      <p><button routerLink="/template5">Select</button></p>
    </div>  </div>
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-trv3htc4GDc/X_qaz6kekCI/AAAAAAAALyk/TI3-kqftGA4N_J2t2Il1mNgb2MSYUwHBwCLcBGAsYHQ/s400/6.PNG"  style="width:100%">
   
     
      <p><button routerLink="/template6">Select</button></p>
    </div>
  </div>
    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-QzQRqPnC0vc/X_qbRv4h8iI/AAAAAAAALys/Kr50SwINH0kPjLKamHGRAupwTfmnACaTgCLcBGAsYHQ/s400/7.PNG"  style="width:100%">
      
     
      <p><button routerLink="/template7">Select</button></p>
    </div>
  </div>


    <div class="column">
    <div class="card">
      <img src="https://1.bp.blogspot.com/-qAXffwUBgjg/X_qWDJPJ2iI/AAAAAAAALyM/Iv3aAIV_HPUqA7Xnm9SxJFeJqvTFA61xQCLcBGAsYHQ/s320/8.PNG" style="width:100%">

     
      <p><button routerLink="/template8">Select</button></p>
    </div>  
  </div> 
    
  </div>
    <br><br><br><br><br>