
<html>
	<title>Wedding Invitation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<body>
	
	<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
	  <div class="w3-display-middle w3-text-white w3-center">
		<h1 class="w3-jumbo" style="text-shadow: 3px 3px #000000;" >{{groom}} & {{bride}}</h1>
		<h2 style="text-shadow: 2px 2px #000000;">Are getting married</h2>
		<h2 style="text-shadow: 2px 2px #000000; "><b>{{weddate}}</b></h2>
	  </div>
	</header>

	<div class="w3-container w3-padding-64 w3-pale-green w3-grayscale-min" id="us">
	  <div class="w3-content">
		<h1 class="w3-center w3-text-grey"><b>{{groom}} & {{bride}}</b></h1>
		<img class="w3-round w3-grayscale-min"  src="https://beta.ctvnews.ca/content/dam/ctvnews/images/2020/6/4/1_4968075.jpg?cache_timestamp=1591276024358">
		<p><i>You all know us. And we all know you. We are getting married this winter. We would for you all to be apart of this joyous event. Many of you know how in love these two are and have been waiting what seems like centuries for them to get married. They fell in love their juinor year in high school and have been together since. They are each others soul mates, and they are extremely lucky to have found one another. They went on one date to the movies and immediatly made it offical after that. They make each other better people and compliment one another very well. You can see the love in their eyes when they look at one another. They have the kind of relationship you envy because you want what they have. Finally, after 4 years we get to witness the holy matrimony between {{groom}} and {{bride}}.
		  </i>
		</p><br>
		<p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
	  </div>
	</div>
	
	<!-- Background photo -->
	<div class="w3-display-container bgimg2">
	  <div class="w3-display-middle w3-text-white w3-center">
		<h1 class="w3-jumbo" style="text-shadow: 2px 2px #000000; ">You Are Invited</h1><br>
		<h2 style="text-shadow: 2px 2px #000000; " >Of course..</h2>
	  </div>
	</div>
	
	<!-- Wedding information -->
	<div class="w3-container w3-padding-64 w3-pale-green w3-grayscale-min w3-center" id="wedding">
	  <div class="w3-content">
		<h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
		<div class="w3-row">
		  <div class="w3-half">
			<h2>When</h2>
			<p>Wedding Ceremony - {{weddate}}</p>
		
		  </div>
		  <div class="w3-half">
			<h2>Where</h2>
			<p>{{venue}}</p>
	
		  </div>
		</div>
	  </div>
	  </div>
	
	<div class="w3-container w3-padding-64 w3-pale-green w3-center w3-wide" id="rsvp">
	  <h1>HOPE YOU CAN MAKE IT!</h1>
	  <p class="w3-large">Kindly Respond Before {{weddate}}</p>
	  
	</div>
	
	
	
	<div class="w3-hide-small" style="margin-bottom:32px"> </div>
	
	</body><br><br><div class="download"><button onclick="window.print()" class="btn btn-danger btn-lg">Download Card</button></div>
	</html>
	