<head>
 <link href="https://fonts.googleapis.com/css?family=Pinyon+Script|Quicksand|Vidaloka" rel="stylesheet">
        <title>Invitation</title>
        </head>
        
        <body> 
        
        <div class="container">  
          
        <header>
          <h1>{{groom}} &amp; {{bride}}'s <span class="secondary">Wedding</span></h1>
        </header>
        <section id="mainContent">
          <h2>{{weddate}}</h2>
         
            <div class="ribbon"><dl>
              <span class="ribbon-content">
                    <dt>{{venue}}</dt>
                  </span> </dl>
     
</div>
                  <p><span class="bigger">Join {{groom}} &amp; {{bride}} as they take a leap of faith into holy matrimony. Reception to follow ceremony.</span></p>
        </section></div></body> <br><br><div class="download"><button onclick="window.print()" class="btn btn-danger btn-lg">Download Card</button></div>