
<head>

<meta charset="UTF-8">
<title>Invitation</title>
  <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Medula+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ruluko" rel="stylesheet">

</head>

<body>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a6c9e3760d214f"></script>
  <div id="wrapper">
    <header>
	    <h1 id="title">{{groom}} &amp; {{bride}}'s Wedding</h1>
    </header>
<section id="mainContent">
	<h2 id="datetime">{{weddate}} at <time datetime="15:00">6:00PM</time></h2>
    <p id="where"><span id="hiltonseattle">{{venue}}</span><br>

    </p>
  	<p id="para">Join {{groom}} &amp; {{bride}} as they take a leap of faith into holy matrimony.<br>Reception to follow ceremony.</p>
</section>
<footer id="footer">Kindly RSVP to {{groom}} before {{weddate}}</footer>
  </div>  <br><br><div class="download"><button onclick="window.print()" class="btn btn-danger btn-lg">Download Card</button></div>

</body>